<body>

<section>
<style> 
id= #a {
  background-color: red;
}
</style>
</section>

<section>
<style> 
id= #b {
  background-color: orange;
}
</style>
</section> 

<section>
<style> 
id= #c {
  background-color: gray;
}
</style>
</section>

<section>
<style> 
id=#d {
  background-color: black;
}
</style>
</section>









section {
  border : 5px solid black;
}
</body>
