
ul#a {
  background-color: red;
}





#b {
  background-color: orange;
}
 


 
#c {
  background-color: gray;
}



 
#d {
  background-color: black;
  color: cyan ;
  
}

h1,h2,h3,h4 {
  Text-size:38;
  
}

section {
  border: 5px;
}









