<body>

<section>
<style> 
#a {
  background-color: red;
}
</style>
</section>

<section>
<style> 
#b {
  background-color: orange;
}
</style>
</section> 

<section>
<style> 
#c {
  background-color: gray;
}
</style>
</section>

<section>
<style> 
#d {
  background-color: black;
}
</style>
</section>









section {
  border : 5px solid black;
}
</body>
